@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500&family=Neucha&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap");

html {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  width: 100%;
  font-family: "Edu TAS Beginner", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Neucha", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Gumela", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}
header {
  width: 100%;
  z-index: 1020;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  background: #fff;
}
.header {
  align-items: center;
  text-align: center;
}
h1 {
  margin: 0;
  padding: 10px;
}
.nav-tab a.active {
  background: #3a2d7d;
  color: #fff;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #5c5c5c;
}
.fld-container {
  padding: 0 5px;
}

.row {
  width: 100%;
  padding: 0 10px;
  margin: 0 5px;
  display: flex;
  flex-wrap: wrap;
}

.col {
  margin: 0;
  padding: 5px;
}

.col-4 {
  flex: 0 0 33.3333%;
}

.col-6 {
  flex: 0 0 50%;
}
.col-2 {
  flex: 0 0 16.6666%;
  width: 16.6666%;
}

.col-12 {
  flex: 0 0 100%;
}

/* option section */

#optionchn nav {
  border-bottom: solid 1px #e3e3e3;
}
#optionchn {
  padding: 20px 0;
}
#optionchn .nav-link {
  display: flex;
  margin: 0;
  padding: 0;
}
.nav-tab a {
  border: 1px solid transparent;
  padding: 10px 15px;
  border-radius: 4px 4px 0 0;
  margin-right: 2px;
  display: flex;
}

.option-table .header .heading {
  text-align: left;
  color: #3a2d7d;
  font-size: 1rem;
  font-weight: 500;
}
.header span {
  margin-top: 25px;
  align-self: center;
}
.header .col {
  margin: 0;
  padding: 0 15px;
}
.header .row {
  margin: 0 -20px;
}
.lable {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.select-card select {
  color: #c35516;
  padding: 6px 12px;
  cursor: pointer;
  padding-right: 33px;
  color: #c35516;
  font-weight: 400;
  width: 100%;
  border: solid 1px #e3e3e3;
  border-radius: 8px;
  height: 40px;
}
.ondate {
  font-size: 0.75rem;
  padding: 10px;
  color: #717171;
}
.refresh a {
  color: #c35516;
}

/* table area */
.table-content {
  margin: 10px -15px;
}
.option-tbl {
  border: solid 1px #e3e3e3;
  width: 100%;
}
.option-tbl thead th {
  background-color: #3a2d7d;
  color: #fff;
}
.option-tbl tbody tr td {
  border: solid 1px #e3e3e3;
  padding: 1px 1px;
  font-size: 0.7rem;
  text-align: center;
  color: #333;
}
.option-tbl .chart {
  background-color: #70b443;
  display: block;
}
.option-tbl tbody .green-txt {
  color: #007a00 !important;
}
.option-tbl tbody .red-txt {
  color: #cb0505 !important;
}
.option-tbl tbody tr td.strick {
  color: #295c89;
  text-decoration: underline;
  font-weight: 600;
}
.option-tbl tbody tr.bg-grn-act .bg-grn {
  background-color: #86ff8c7d;
}
.option-tbl tbody tr.bg-red-act .bg-red {
  background-color: #ff86867d;
}
